{% extends 'admin/base_site.html' %} {% block extrahead %}
<link href="/static/css/style.css" rel="stylesheet" />
<script src="/static/plugins/d3.min.js"></script>
<script src="/static/plugins/dagre-d3.min.js"></script>
<script src="/static/js/download.js"></script>
<script>
window.onload = function () {
    var g = new dagreD3.graphlib.Graph().setGraph({});

    var nodes = {{ family | safe }};
    var marries = {{ marriages | safe }};

    // topレベルはdisplay:none
    g.setNode('top', {
        label: '',
        style: 'display: none;'
    });

    nodes.forEach(function(element) {
        var label = element.name;
        label += element.name_kana !== '' ? '\n' + element.name_kana : '\n ';
        label += element.generation !== null ? '\n' + element.generation : '\n ';
        label += element.birthday !== null ? '\nBirthDay ' + element.birthday : '\n ';
        label += element.dieday !== null ? '\nDieDay ' + element.dieday : '\n ';

        var option = {
            label: label
        };
        if(!element.display) {
            option.style = 'display: none;';
            option.labelStyle = 'display: none;';
        }
        if(element.sex) {
            option.class = 'male'
        } else {
            option.class = 'female'
        }

        if(element.marriage) {
            option.class = String(element.marry_count);
        }

        g.setNode(element.id, option);
    });

    nodes.forEach(function(element) {
        var option = {
            arrowhead: 'undirected'
        };
        var regexp = /g[0-9]+f[0-9]+m[0-9]+/g;
        if(element.parent_node === 'top' ||
            (element.parent_node.match(regexp) && element.id.match(regexp)) || 
            element.marriage_flg) {
            option.style = 'display: none;';
        }
        g.setEdge(element.parent_node, element.id, option);
    });

    var svg = d3.select('svg'),
        inner = svg.select('g');

    // Set up zoom support
    var zoom = d3.behavior.zoom().on('zoom', function () {
        inner.attr('transform', 'translate(' + d3.event.translate + ')' + 'scale(' + d3.event.scale + ')');
    });
    svg.call(zoom);

    //Create the renderer
    var render = new dagreD3.render();

    // Run the renderer. This is what draws the final graph.
    render(inner, g);

    var output = svg.select('g .output');

    var verticallines = output.insert('g', 'g.nodes')
        .attr('class', 'verticallines');

    nodes.forEach(function(element) {
        if(element.display) {
            verticallines.append('path')
                .attr('class', 'verticalline')
                .attr('d', function(d, i) {
                    var node = g.node(element.id);
                    var length = node.elem.firstChild.height.baseVal.value / 2 + 8;
                    var marry_count = element.marry_count;
                    var offset = 8 * marry_count;
                    var linedata = [{
                        x: node.x,
                        y: node.y
                    }, {
                        x: node.x,
                        y: node.y + length + offset
                    }];
                    var fun = d3.svg.line().x(function(d) {
                        return d.x;
                    }).y(function(d) {
                        return d.y;
                    }).interpolate('linear');
                    return fun(linedata);
                });
        }
    });

    // 婚姻関係を描画する
    var siblings = output.insert('g', 'g.nodes')
        .attr('class', 'siblings');

    marries.forEach(function(element) {
        siblings.append('path')
            .attr('class', 'sibling')
            .attr('d', function(d, i) {
                var node1 = g.node(element.node1);
                var node2 = g.node(element.node2);
                var nodeHeight = node1.elem.firstChild.height.baseVal.value / 2 + 8;
                var marry_count = element.marry_count ? element.marry_count : 0;
                var offset = 8 * marry_count;
                var linedata = [{
                    x: node1.x,
                    y: node1.y + nodeHeight + offset
                }, {
                    x: node2.x,
                    y: node2.y + nodeHeight + offset
                }];
                var fun = d3.svg.line().x(function (d) {
                    return d.x;
                }).y(function (d) {
                    return d.y;
                }).interpolate('linear');
                return fun(linedata);
            });
    });

    // Center the graph
    var initialScale = 1;
    zoom.translate([(window.innerWidth - g.graph().width * initialScale) / 2, 20])
        .scale(initialScale)
        .event(svg);
    d3.select('#export').on('click', function() {
        var graph = g.graph();
        exportSvg(graph.width, graph.height);
    });
    d3.select('#export_png').on('click', function() {
        var graph = g.graph();
        exportPng(graph.width + 10, graph.height + 10);
    })
};
</script> {% endblock extrahead %} {% block content %}
<div id="svg">
    <svg>
        <g></g>
    </svg>
</div>

<button id="export">export</button>
<button id="export_png">export png</button>
{% endblock content %}