body {
    font: 300 14px 'Helvetica Neue', Helvetica;
}

svg {
    width: 100vw;
    height: 100vh;
}

.label text tspan:first-child {
    font-size: 20px;
}

.node rect,
.node circle,
.node ellipse {
    stroke: #333;
    fill: #fff;
    stroke-width: 1px;
}

.edgePath path {
    stroke: #333;
    fill: #333;
    stroke-width: 1.5px;
}

.sibling {
    stroke: blue;
}